exercise/bin/Debug/net8.0/exercise.dll
exercise/bin/Debug/net8.0/exercise.exe
exercise/bin/Debug/net8.0/exercise.pdb
exercise/obj/Debug/net8.0/apphost.exe
exercise/obj/Debug/net8.0/exercise.AssemblyInfo.cs
exercise/obj/Debug/net8.0/exercise.AssemblyInfoInputs.cache
exercise/obj/Debug/net8.0/exercise.csproj.FileListAbsolute.txt
exercise/obj/Debug/net8.0/exercise.dll
exercise/obj/Debug/net8.0/exercise.pdb
exercise/obj/Debug/net8.0/exercise.sourcelink.json
exercise/obj/Debug/net8.0/ref/exercise.dll
exercise/obj/Debug/net8.0/refint/exercise.dll
